//Custom scss file

html{
    position: relative;
    min-height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 125px;
    background-color: #e6f0f4 !important;
}

.bgDiv{
    background-color: #264653 !important;
    color: #ffffff;
}

.navbarBg, .jumbotron{
    background-color: #A5C4D9 !important;
}

.active{
    background-color: rgb(213,213,213, 0.3);
}

a:hover{
    cursor: url(../../public/images/icons/icon_hammer.png), auto;
    background-color: rgb(213,213,213, 0.3)
}

.btn.button{
    color: #264653;
    background-color: #E76F51;
    font-family: 'Open Sans', sans-serif;
    border-color: #E76F51;
    font-size: large;
}

.btn.button:hover{
    cursor: url(../../public/images/icons/icon_hammer.png), auto;
    color: black;
    border-color: black;
    background-color: #E76F51;
}

.btn.btn-danger:hover{
    cursor: url(../../public/images/icons/icon_hammer.png), auto;
    color: black;
    border-color: black;
}

#nav-bar a{
    margin-right: 2rem;
    font-size: x-large;
}

.btn-logout{
    font-size: x-large;
    border: 0px;
}

.jumbotron h2{
    color: #264653;
    font-weight: bolder;
}

.jumbotron p{
    font-family: 'Work Sans', sans-serif;
    color: #000000;
    font-size: large;
}

.icon{
    display: inline-block;
}

.icon-text {
    color: #264653}

.icon a:hover, .icon .icon-text:hover{
    text-decoration: none;
    color: #E76F51;
}

.icon img:hover ~ .icon-text {
    visibility: hidden;
}

.icon img:hover{
    transform: scale(1.1);
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 125px;
    background-color: #A5C4D9;
    color: #264653;
    padding: 1rem;
    font-size: medium;
}

footer a{
    color: #E76F51;
}

.form_container{
    background-color: #ffffff;
    border-radius: 1rem;
}

.img-preview{
    display: none;
    margin-top: 1rem;
    width: 300px;
    min-height: 100px;
}

.img-preview-img{
    display: none;
    width: 100%;
    max-height: 300px;
}

.project-card{
    max-width: 330px;
    min-height: 400px;
}

.project-card--auth{
    width: 330px;
    min-height: 500px;
    max-height: 800px;
}

.project-card img{
    width: 100%;
    height: 300px;
}

.project-noImg{
    height: 300px;
    padding: 0px;
    margin: 0px;
}

.img-container{
    overflow: hidden;
}

.img-container img{
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.img-container img:hover{
    transform: scale(1.2);
}

.div-modal{
    background: rgba($color: #000000, $alpha: 0.95);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-out;
}

.div-modal.open{
    opacity: 1;
    pointer-events: all;
}

.img-modal{
    position: absolute;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.3s ease-out;
}

.img-modal.open{
    height: 60%;
    transform: translate(-50%, -50%) scale(1);
}

//Ta bort bild
.delete-image-div img{
    width: 330px;
    height: 300px;
}

//Kontaktsidan
.contactInfo-list {
    margin-bottom: 10px;
}

.contactInfo-list li{
    list-style-type: none;
}

.contactInfo hr{
    height: 3px;
    color:white;
    background-color: white;
    border: none;
}

.icons {
  position: relative;
  top: 5px;
}

.required{
    color: red;
}

.contact{
    background-color: #264653 !important;
}

.about-div{
    background-color: #264653;
}

.about-img img{
    max-width: 100%;
    height: 80%;
}

.edit-btn{
    background-color: #264653;
    color: #E76F51;
}

#delete-btn{
    font-size: large !important;
}

@media only screen and (max-width: 834px){
    #nav-bar a, .btn-logout{
        font-size: large;
    }
}

@media only screen and (max-width: 767px){
    body{
        margin-bottom: 195px;
    }

    footer{
        height: 195px;
    }

    .footer-contact{
        margin-top: 1rem;
    }

    .footer-links{
        display: none;
    }

    .iconsDiv{
        margin-top: 20rem;
        margin-bottom: 20rem;
    }

    #nav-bar {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .jumbotron h2{
        font-size: large;
    }

    .jumbotron p{
        font-size: medium;
    }

    .project-card{
        width: 100%;
    }

    .projectCards{
        margin: auto;
    }

    .img-modal.open{
        height: 40%;
        transform: translate(-50%, -50%) scale(1);
    }
}