//Custom scss file
a:hover{
    cursor: url(../../public/images/icons/icon_hammer.png), auto;
}

.btn.btn-primary:hover{
    cursor: url(../../public/images/icons/icon_hammer.png), auto;
    color: black;
    border-color: black;
}

.btn.btn-primary{
    color: #ffffff;
    background-color: #264653;
    border-color: #ffffff;
}

#navbarResponsive a{
    margin-right: 2rem;
}

#nav-logo{
    margin-top: 0px;
    margin-left: 0px;
}

#nav-bar a{
    font-size: x-large;
}

.jumbotron {
    background-color: #A5C4D9;
    text-align: center;
}

.icon-text {
    font-weight: bold;
}

footer{
    font-family:sans-serif ;
    background-color: #A5C4D9;
    color: #ffffff;
    padding: 1rem;
    margin-top: 5rem;
}

footer a{
    color: #ffffff;
}